// mixin for parameterizing shimmer gradients
@mixin shimmer-gradient($color1, $color2) {
    background: linear-gradient(-45deg, $color1, $color2, $color1, $color2);
    background-size: 400% 400%;
}

.shimmer::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //gradient background
    @include shimmer-gradient(rgba(189, 155, 123, 0.3), rgba(68, 33, 10, 0.3));
	animation: shimmer 15s ease infinite;
}

@keyframes shimmer {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header-shimmer::before {
    @extend .shimmer;
    @include shimmer-gradient(rgba(189, 155, 123, 0.5), rgba(68, 33, 10, 0.5));
}

.cool-gradient::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 196, 141, 0.5), rgba(97, 48, 15, 0.6));
    background-size: cover;
    border-radius: .25rem;
}