@media screen and (max-width: 410px){
    .slogan {
        font-size: 0.75em;
    }
    .slogan:last-of-type span {
        margin-left:-270px;
    }    
    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:270px;}
        80% {opacity:1;}
        100% {opacity:1;width:270px;}
    }
}


